__pycache__/
*.py[cod]
*$py.class
.python-version

.venv/

.env
.env.*
!.env.example

.vscode/
.idea/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/


*.log
local_settings.py
db.sqlite3
media/
staticfiles/


.docker-data/
docker-compose.override.yml